.fade {
  display: inline-block;
  height: 8px;
  width: 80px !important;
  /* background-color: #00afb9; */
  color: #00afb9;
  font-weight: bold;
  animation: fade 1s infinite normal;
}

@keyframes fade {
  0% {
    /* transform: translateX(0px); */
    opacity: 1;
  }
  50% {
    opacity: 0;
    /* transform: translateX(50px); */
  }
  100% {
    opacity: 1;
    /* transform: translateX(0px); */
  }
}
